
.cloud {
    position: absolute;
    background-color: #FFFFFF; /* 白色 */
    width: 200px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.1);
}
.cloud::before, .cloud::after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    width: 100px;
    height: 60px;
    border-radius: 50px;
}

.cloud::before {
    top: -30px;
    left: 20px;
}

.cloud::after {
    top: -20px;
    right: 20px;
}
